﻿@model Restaurants.ViewModels.DetailsViewModel
<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <h5>Корзина @User.Identity.Name</h5>
    <table class="table">
        <thead>
        <tr>
            <th>
                Dish
            </th>
            <th>
                Количество порций
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Baskets) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishCount)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>Итого: @Model.Summ</div>
</div>

