﻿@model Restaurants.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Institution.Name</h2>
<hr/>

<div class="row flex-xl-nowrap">
    @if (User.Identity.IsAuthenticated)
    {
        {
             Html.RenderPartial("_BasketPartial");
         }
    }
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <h2>Меню</h2>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Блюдо
                </th>
                <th>
                    Цена
                </th>
                <th>
                    Описание
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Institution.Dishes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <form asp-action="AddToBasket" asp-controller="Dish">
                                <div class="form-group">
                                    <input type="hidden" name="dishId" class="form-control" value="@item.Id"/>
                                    <input type="hidden" name="instituteId" class="form-control" value="@Model.Institution.Id"/>
                                    <input type="submit" value="Добавить в корзину"/>
                                </div>
                            </form>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>

    </main>
    <div class="container">

    </div>
</div>
