﻿@model IEnumerable<Restaurants.Models.Institution>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Все заведения</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Фото
                </th>
                <th>
                    Описание
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.InstitutionImagePath">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Посмотреть меню", "Details", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
